@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Create SiteSkeleton database</title>
    
    <link href="@Url.Content("~/include/css/reset.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/include/css/main.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/include/css/shared.css")" rel="stylesheet" type="text/css" />
    <!--[if IE]><link href="@Url.Content("~/include/css/ie_hacks.css")" rel="stylesheet" type="text/css" /><![endif]-->

    <script src="@Url.Content("~/include/scripts/html5.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/include/scripts/jquery-1.4.4.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/include/scripts/jquery.cookie.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/include/scripts/common.js")" type="text/javascript"></script>
</head>

<body>

    <div id="wrapper">

        <header id="siteheader">
            <a href="/" class="home"><img src="/include/images/logo.png" alt="Skeleton Site 1.0" class="logo" /></a>
            <nav id="language">
                <span>Language:</span>
                <ul>
                    <li class="first"><a href="#" class="Dutch @(SessionManager.ActiveLanguage == Languages.Dutch ? "active" : "")">NL</a></li>
                    <li><a href="#" class="English @(SessionManager.ActiveLanguage == Languages.English ? "active" : "")">EN</a></li>
                </ul>
            </nav>
        </header>
        
        <section id="notifications">
            @if (SessionManager.SessionErrors.Count > 0)
            {
                <ul id="sessionErrors" class="systemNotifications boxshadow borderradius">
                    <li class="header">Errors</li>
                    @foreach (var item in SessionManager.SessionErrors)
                    {
                        <li>
                            @item.Message
                            @if (item.InnerException != null)
                            {
                                string innerMessage = String.Format("({0})", item.InnerException.Message);
                                @innerMessage;
                            }
            
                            @if ((item.StackTrace != null || (item.InnerException != null && item.InnerException.StackTrace != null))
                                && Configuration.System.DebugMode)
                            {
                                string strackTrace = (item.StackTrace != null) ? item.StackTrace : item.InnerException.StackTrace;
                                <a href="#" class="stacktrace">[show stacktrace]</a>
                                <pre class="stacktrace">@Html.Raw(strackTrace)</pre>
                            }
                        </li>
                    }
                </ul>
    
                @* Clear errors so they won't be displayed for the next request *@
                SessionManager.SessionErrors.Clear();
            }
            
            @if (SessionManager.SessionNotifications.Count > 0)
            {
                <ul id="sessionNotifications" class="systemNotifications boxshadow borderradius">
                    <li class="header">Notifications</li>
                    @foreach (var item in SessionManager.SessionNotifications)
                    {
                        <li>@item</li>
                    }
                </ul>
    
                @* Clear notifications so they won't be displayed for the next request *@
                SessionManager.SessionNotifications.Clear();
            }
        </section>
        
        <div id="body">
            Welcome!
        </div>
        
        <footer>
            @if (Configuration.System.DebugMode)
            {
                <a href="#" class="toggleNotifications">[hide notifications]</a>
            }
        </footer>

    </div>

</body>
</html>